@page "/audioApp"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false)) // либо так для каждого компонента СМОТРИ App.razor

@using BlazorAppExactlyWebAssembly.Client.Pages.Internal;
@using Microsoft.AspNetCore.SignalR.Client 

@* @inject ServerAPI _api *@
@inject IJSRuntime JS 


@* <dev>@(Program._dbg)</dev> *@

@* <dev>@(ServerAPI.BuildAndStartConnection_test())</dev>  *@

@* <button class="btn btn-primary" @onclick="SoundStreaming">@(isActive ? "Stop translate" : "Start translate")</button> *@

<button class="btn btn-primary" @onclick="StartTranslateSound">@("Start translate sound")</button> 

<button class="btn btn-primary" @onclick="StopTranslateSound">@("Stop translate sound")</button>

@code {

    // protected override async Task OnInitializedAsync()
    // {
    //     try
    //     {
    //         await _api.InitializeAsync();
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine($"OnInitializedAsync не прошел: {ex.Message}");
    //     }
    // }

    // private async Task StartTranslateSound()
    // {
    //     if (_api is not null)
    //     {
    //         await _api.StartStreamingCommand();
    //     }
    // }

    // private async Task StopTranslateSound()
    // {
    //     if (_api is not null)
    //     {
    //         await _api.StopStreamingCommand();
    //     }
    // }

    // JS
    private async Task StartTranslateSound()
    {
        await JS.InvokeVoidAsync("startTranslate");
    }

    private async Task StopTranslateSound()
    {
        await JS.InvokeVoidAsync("stopTranslate");
    }
}